@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
}
header{
    font-family:"Raleway";
    background-color:#F2B705;
}

body{
  font-family:"Raleway";
}

body.nav-fixed-padding {
  padding-top: 70px; /* Ajusta según la altura de tu nav */
}


.caja {
  padding: 0;
  background-color:#F2B705;
  height: 40px;
}
nav {
  position: sticky;
  top: 0;
  background-color: #7A8421;
  padding: 10px 20px;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;      /* Verticalmente centrado */
  justify-content: space-between; /* Distribuye entre menú y logo */
  transition: all 0.3s ease;
  height: 40px;
}

nav ul {
  list-style-type: none; /*sin viñeta*/
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  margin-right: 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  display: block; /*el elemento ocupa todo el ancho*/
}
nav ul li a:hover {
  color: black;
}
.imagenlogo {
  height: 40px;
  object-fit: contain;
  margin-right: 35px;
}
nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.info {
  color: white;
  height: 450px;
  background-image: url(imagenes/verduras.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: rgba(0,0,0,0.5);
  padding-top:200px ;
  padding-left: 30px;
}
.info h1{
  height: fit-content;
  position: relative;
  font-size: 50px;
}
.info h2{
  height: fit-content;
  position: relative;
  font-size: 40px;
}
.publicidad {
  display: flex;
  justify-content: center;
  align-items: center; /* Centrado vertical */
  width: 200px; /* ajusta según tu banner */
  height: auto; 
  position: relative;
  left: 1.5em;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  grid-template-columns: repeat(4, 1fr); /* 3 columnas fijas */
  grid-auto-rows: minmax(100px, auto); /* cada fila tendrá al menos 100px de alto */
  gap: 2px; /* Espacio entre los items */
  align-items: stretch; /* fuerza a que todos tengan igual altura */
}

.item {
  text-align:left;
  padding: 20px;
  font-size: 30px;
  border-radius: 8px; /* esquinas redondeadas */
}

.product-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5) ;
  text-align: center;
  width: 270px;
  margin: auto;
  display: block;
  flex-direction: column;
  justify-content: space-between;
}

.product-card img {
  max-width: 100px;
  margin-bottom: 10px;
}

#brocoli{
  height: 102px;
}

.price {
  font-size: 1.5rem;
  color: #000;
  margin: 10px 0;
}

.buttons {
  margin: 10px 0;
}

.buttons button {
  margin: 5px;
  background-color: #4caf50 ;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 15px 0;
}

.quantity-control button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.add-cart {
  background-color: #4caf50;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.footer {
  background-color: #6a861f;  
  color: white;
  font-weight: bold; /* negrita */
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.footer div {
  margin: 10px;
  min-width: 200px;
}

.footer img {
  margin: 0 5px;
  vertical-align: middle;
  transition: transform 0.3s;
}

.footer img:hover {
  transform: scale(1.2); /* Animación al pasar el mouse */
}

.copy {
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
}

.ubi img{
 height: 300px;
}
.redes{
  display: grid;
  grid-template-columns: auto;
}
.redes  img{
  height: 50px;
  width: 50px;
}
.comunicate img{
  height: 50px;
  width: 50px;
}